@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);

#home-header {
   font-family: 'Roboto', helvetica;
   background-color: #59488B;
   height: 300px;
}

#home-title > span {
   color: #FFF;
   font-weight: 200;
   font-size: 40px;
   letter-spacing: 5px;
   text-transform: uppercase;
   cursor: pointer;
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

#home-title {
   text-align: center;
   padding-bottom: 50px;
}

#home-actions {
   padding-top: 100px;
   position: relative;
}

#home-search {
   text-align: center;
}

#home-search .search-debounced {
   height: 50px;
   width: 500px;
   border: none;
   outline: none;
	color: #59488B;
   display: inline;
   font-size: 14px;
	text-indent: 15px;
   border-radius: 0px;
   -webkit-appearance: none;
   text-transform: uppercase;
}

#home-search .search-debounced::-webkit-input-placeholder {
   color: #59488B;
   opacity: 0.3;
}

#home-search .search-debounced:-moz-placeholder { /* Firefox 18- */
   color: #59488B;
   opacity: 0.3;
}

#home-search .search-debounced::-moz-placeholder {  /* Firefox 19+ */
   color: #59488B;
   opacity: 0.3;
}

#home-search .search-debounced:-ms-input-placeholder {  
   color: #59488B;
   opacity: 0.3;
   padding-left: 10px;
}

.home-browse {
   position: absolute;
   top: 0;
   margin: 15px;
}

@media only screen and (max-width: 500px) {
   #home-title > span {
      font-size: 24px;
   }

   #home-search .search-debounced {
      width: 300px;
   }
}

@media only screen and (max-width: 320px) {
   #home-title > span {
      font-size: 20px;
   }

   #home-search .search-debounced {
      width: 280px;
      height: 40px;
   }
}