<!DOCTYPE html>
<html>
    <head>
        <title><%= meta.title %></title>
        <meta name="keywords" content="<%= meta.keywords %>"/>
        <meta name="description" content="<%= meta.description %>"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
        <link rel="stylesheet" href="./lib/materialize/dist/css/materialize.min.css" type="text/css" />
        
        <link rel="stylesheet" href="/lib/slick.js/slick/slick.css" type="text/css" />
        <link rel="stylesheet" href="/lib/slick.js/slick/slick-theme.css" type="text/css" />

    </head>
    <body>
        <%- body %>
        <script type="text/javascript" src="./lib/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="./lib/materialize/dist/js/materialize.min.js"></script>
        <%- script %>
    </body>
</html>