@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);

#home-wrapper {
	font-family: 'Roboto', helvetica;
	width: 100vw;
	min-height: 100vh;
	background: radial-gradient(ellipse at top,#fff,#e1e2e6 60%,#fff);
}

.no-display {
	display: none;
}

.no-scroll {
	overflow: hidden;
}

.home-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
	z-index: 1;
	background-color: #FFF;
	outline: none;
}

.home-tab-stuff {
	height: 60px;
	width: 100%;
	margin-bottom: 25px;
	background-color: #FFF;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	text-align: center;
	overflow: auto;
}

.home-tab-stuff span {
	display: inline-block;
	padding: 0 25px;
	height: 60px;
	line-height: 60px;
	cursor: pointer;
}

.home-tab-stuff span:hover {
	color: #59488B;
}

.home-reader-close {
	position: absolute;
	padding: 25px 50px;
	top: 0;
	right: 0;
}

.home-reader-close > span {
	font-size: 50px;
	font-weight: 100;
	cursor: pointer;
}

.container {
	width: 100%;
	padding-top: 25px;
	text-align: left;
}

.home-manga-general {
	text-align: left;
	margin-left: 25px;
	font-size: 26px;
	font-weight: 300;
}

#home-wrapper .slider-decorator-2 {
	display: none;
}

@media only screen and (max-width: 500px) {
	.container {
		text-align: center;
	}

	.home-manga-general {
		text-align: center;
		margin-left: 0;
	}

	.home-manga-general-category-title {
		margin: 0 auto;
	}

	.home-tab-stuff {
		border-radius: 1px;
	}
}

@media only screen and (max-width: 1000px) {
	.home-overlay {
		overflow-y: auto;
		overflow-x: hidden;
	}
}