<!--=========================== Popular ==================================-->
<div class="row">
    <div class="col-xs-12">
        <h4 class="headline dark text-white">
			Popular Manga
			<span class="fake-link"><i id="popularNextArrow" style="padding-left: 10px" class="fa fa-chevron-right fa-md pull-right"></i></span>
			<span class="fake-link"><i id="popularPrevArrow" style="padding-left: 10px" class="fa fa-chevron-left fa-md pull-right"></i></span>
			<span class="line"></span>
		</h4>
		<div class="slider single-items" id="popularManga">
		
		</div>
    </div>
</div>
<!--=========================== New Manga ==================================-->
<div class="row">
    <div class="col-xs-12">
        <h4 class="headline dark text-white">
			New Manga
			<span class="fake-link"><i id="newNextArrow" style="padding-left: 10px" class="fa fa-chevron-right fa-md pull-right"></i></span>
			<span class="fake-link"><i id="newPrevArrow" style="padding-left: 10px" class="fa fa-chevron-left fa-md pull-right"></i></span>
			<span class="line"></span>
		</h4>
		<div class="slider single-items" id="newManga">
		
		</div>
    </div>
</div>
<!--=========================== Trending ==================================-->
<div class="row">
    <div class="col-xs-12">
        <h4 class="headline dark text-white">
			Trending Manga
			<span class="fake-link"><i id="trendingNextArrow" style="padding-left: 10px" class="fa fa-chevron-right fa-md pull-right"></i></span>
			<span class="fake-link"><i id="trendingPrevArrow" style="padding-left: 10px" class="fa fa-chevron-left fa-md pull-right"></i></span>
			<span class="line"></span>
		</h4>
		<div class="slider single-items" id="trendingManga">
		
		</div>
    </div>
</div>
<!--=========================== Recommended ================================-->
<div class="row">
    <div class="col-xs-12">
        <h4 class="headline dark text-white">
			Recommended Manga
			<span class="fake-link"><i id="recommendedNextArrow" style="padding-left: 10px" class="fa fa-chevron-right fa-md pull-right"></i></span>
			<span class="fake-link"><i id="recommendedPrevArrow" style="padding-left: 10px" class="fa fa-chevron-left fa-md pull-right"></i></span>
			<span class="line"></span>
		</h4>
		<div class="slider single-items" id="recommendedManga">
		
		</div>
    </div>
</div>
<!--=========================== Genres ==================================-->
<div class="row">
    <div class="col-xs-12">
        <h4 class="headline dark text-white text-center">
			Genres
			<span class="line center-block"></span>
		</h4>
		<div id="genres">
		    <div class="gallery-container">
				<div class="row">
				    <div class="gallery-item">
    					<a class="image-wrapper gallery-zoom" href="/genres/shounen">
    						<img src="/images/attack-on-titan.jpg" alt="gallery1">		
    						<div class="image-overlay">
    							<div class="image-info">
    								<div class="h3">Shounen</div>
    								<span>Shounen manga is typically characterized by high-action, often humorous plots featuring male protagonists. The camaraderie between boys or men on sports teams, fighting squads and the like is often emphasized. Attractive female characters like Bulma from Dragon Ball or Nami from One Piece, with exaggerated features are also common. Main characters may also feature an ongoing desire to better themselves.</span>
    								<div class="image-time">2013-10-23</div>
    								<div class="image-like">
    									<i class="fa fa-heart"></i>
    									45 Likes
    								</div>
    							</div>
    						</div>	
    					</a><!-- /image-wrapper -->
    				</div><!-- /gallery-item -->    
				    <div class="gallery-item">
    					<a class="image-wrapper gallery-zoom" href="/genres/shoujo">
    						<img src="/images/the-flower-we-saw.jpg" alt="gallery1">		
    						<div class="image-overlay">
    							<div class="image-info">
    								<div class="h3">Shoujo</div>
    								<span>Shoujo manga is manga marketed to a female audience roughly between the ages of 10 and 18. Shoujo manga covers many subjects in a variety of narrative and graphic styles, from historical drama to science fiction — often with a strong focus on human and romantic relationships and emotions.</span>
    								<div class="image-time">2013-10-23</div>
    								<div class="image-like">
    									<i class="fa fa-heart"></i>
    									45 Likes
    								</div>
    							</div>
    						</div>	
    					</a><!-- /image-wrapper -->
    				</div><!-- /gallery-item -->    
				    <div class="gallery-item">
    					<a class="image-wrapper gallery-zoom" href="/genres/slice-of-life">
    						<img src="/images/nagi-no-asukara.png" alt="gallery1">		
    						<div class="image-overlay">
    							<div class="image-info">
    								<div class="h3">Slice of Life</div>
    								<span>A slice of life story is a category for a story that portrays a "cut-out" sequence of events in a character's life. It usually tries to depict the everyday life of ordinary people, sometimes but rarely, with fantasy or science fiction elements involved.</span>
    								<div class="image-time">2013-10-23</div>
    								<div class="image-like">
    									<i class="fa fa-heart"></i>
    									45 Likes
    								</div>
    							</div>
    						</div>	
    					</a><!-- /image-wrapper -->
    				</div><!-- /gallery-item -->    
				</div>
				<div class="row">
				    <div class="gallery-item">
    					<a class="image-wrapper gallery-zoom" href="/genres/harem">
    						<img src="/images/the-world-god-only-knows.jpg" alt="gallery1">		
    						<div class="image-overlay">
    							<div class="image-info">
    								<div class="h3">Harem</div>
    								<span>Harem is an ambiguously-defined subgenre of anime and manga characterized by a protagonist surrounded, usually amorously, by three or more members of the opposing sex and/or love interests.</span>
    								<div class="image-time">2013-10-23</div>
    								<div class="image-like">
    									<i class="fa fa-heart"></i>
    									45 Likes
    								</div>
    							</div>
    						</div>	
    					</a><!-- /image-wrapper -->
    				</div><!-- /gallery-item -->    
				    <div class="gallery-item">
    					<a class="image-wrapper gallery-zoom" href="/genres/romance">
    						<img src="/images/nisekoi.jpg" alt="gallery1">		
    						<div class="image-overlay">
    							<div class="image-info">
    								<div class="h3">Romance</div>
    								<span>Romance manga place their primary focus on the relationship and romantic love between two people, and usually have an "emotionally satisfying and optimistic ending."</span>
    								<div class="image-time">2013-10-23</div>
    								<div class="image-like">
    									<i class="fa fa-heart"></i>
    									45 Likes
    								</div>
    							</div>
    						</div>	
    					</a><!-- /image-wrapper -->
    				</div><!-- /gallery-item -->    
				    <div class="gallery-item">
    					<a class="image-wrapper gallery-zoom" href="/genres/adventure">
    						<img src="/images/dragon-ball.jpg" alt="gallery1">		
    						<div class="image-overlay">
    							<div class="image-info">
    								<div class="h3">Adventure</div>
    								<span>Adventure manga is a genre of manga in which a main protagonist journeys on an adventure, an exciting undertaking involving risk and physical danger. This theme forms the basis of the main storyline. Stories are mainly character driven and may have no ulterior motive.</span>
    								<div class="image-time">2013-10-23</div>
    								<div class="image-like">
    									<i class="fa fa-heart"></i>
    									45 Likes
    								</div>
    							</div>
    						</div>	
    					</a><!-- /image-wrapper -->
    				</div><!-- /gallery-item -->    
				</div>
				<div class="row">
				    <div class="gallery-item">
    					<a class="image-wrapper gallery-zoom" href="/genres/seinen">
    						<img src="/images/black-lagoon.jpg" alt="gallery1">		
    						<div class="image-overlay">
    							<div class="image-info">
    								<div class="h3">Seinen</div>
    								<span>Seinen manga is manga marketed to a male audience aged roughly 17 on into their 40's. In Japanese, the word seinen means "young man" or "young men." Seinen manga are distinguished from 'hentai', although there is sexual content of a softcore nature in some seinen series.</span>
    								<div class="image-time">2013-10-23</div>
    								<div class="image-like">
    									<i class="fa fa-heart"></i>
    									45 Likes
    								</div>
    							</div>
    						</div>	
    					</a><!-- /image-wrapper -->
    				</div><!-- /gallery-item -->    
				    <div class="gallery-item">
    					<a class="image-wrapper gallery-zoom" href="/genres/ecchi">
    						<img src="/images/esdeath-ecchi.jpg" alt="gallery1">		
    						<div class="image-overlay">
    							<div class="image-info">
    								<div class="h3">Ecchi</div>
    								<span>A manga term denoting sexual content that is added into the story mainly for fans of the genre. Although borderline at times, ecchi manga does not usually involve nudity.</span>
    								<div class="image-time">2013-10-23</div>
    								<div class="image-like">
    									<i class="fa fa-heart"></i>
    									45 Likes
    								</div>
    							</div>
    						</div>	
    					</a><!-- /image-wrapper -->
    				</div><!-- /gallery-item -->    
				    <div class="gallery-item">
    					<a class="image-wrapper gallery-zoom" href="/genres/mature">
    						<img src="/images/mature.jpg" alt="gallery1">		
    						<div class="image-overlay">
    							<div class="image-info">
    								<div class="h3">Mature</div>
    								<span>Manga which features nudity and places characters in sexual situations. Themes are targeted towards adults and must be 18 years or older to view.</span>
    								<div class="image-time">2013-10-23</div>
    								<div class="image-like">
    									<i class="fa fa-heart"></i>
    									45 Likes
    								</div>
    							</div>
    						</div>	
    					</a><!-- /image-wrapper -->
    				</div><!-- /gallery-item -->    
				</div>
				    
			</div><!-- /gallery-container -->
		</div>
    </div>
</div>


<script type="text/javascript" src="/lib/vue/dist/vue.min.js"></script>
<script type="text/javascript" src="/lib/slick.js/slick/slick.min.js"></script>

<script type="text/javascript">

    var app = new Vue({
        el: '#app',
        data: {
            popular: null,
            trending: null,
            newManga: null,
            recommended: null,
            genres: null
        },
        methods: {
            
        }
    });
    
    init();
    
    function init()
    {
        $('#navManga').addClass('active');

        getRequest($('#popularManga'), '/api/manga/popular/25', function(err, data){
            if(err)
            {
                return;
            }
            app.popular = data;
            initCarousel($('#popularManga'), $('#popularNextArrow'), $('#popularPrevArrow'));
            initCarousel($('#recommendedManga'), $('#recommendedNextArrow'), $('#recommendedPrevArrow'));
            for(var i = 0; i < app.popular.length; i++)
			{
				$('#popularManga').slickAdd('<div>'+ 
												'<a href="/manga/'+ app.popular[i].title.replace(/\s/g,"-") +'" class="panel-hover"><img width="168px" height="221px" src="' + app.popular[i].coverUrl + '"></img>' + 
													'<div class="quick-detail text-white panel-hover">' +
														'<h5 style="padding: 10px 15px;padding-top: 0px;padding-right: 25px;padding-bottom: 0px;padding-left: 0px;">'+ app.popular[i].title +'</h5>' +
														'<p style="padding: 10px 15px;padding-top: 0px;padding-right: 25px;padding-bottom: 0px;padding-left: 0px;">'+ app.popular[i].description.substring(0,140) + '...' + '</p>' +
													'</div></a></div>');
			}
			for(var i = 18; i < app.popular.length; i++)
			{
				$('#recommendedManga').slickAdd('<div>'+ 
												'<a href="/manga/'+ app.popular[i].title.replace(/\s/g,"-") +'" class="panel-hover"><img width="168px" height="221px" src="' + app.popular[i].coverUrl + '"></img>' + 
													'<div class="quick-detail text-white panel-hover">' +
														'<h5 style="padding: 10px 15px;padding-top: 0px;padding-right: 25px;padding-bottom: 0px;padding-left: 0px;">'+ app.popular[i].title +'</h5>' +
														'<p style="padding: 10px 15px;padding-top: 0px;padding-right: 25px;padding-bottom: 0px;padding-left: 0px;">'+ app.popular[i].description.substring(0,140) + '...' + '</p>' +
													'</div></a></div>');
			}
        });
        getRequest($('#trendingManga'), '/api/manga/trending/25', function(err, data){
            if(err)
            {
                return;
            }
            app.trending = data;
            initCarousel($('#trendingManga'), $('#trendingNextArrow'), $('#trendingPrevArrow'));
			for(var i = 0; i < app.trending.length; i++)
			{
				$('#trendingManga').slickAdd('<div>'+ 
												'<a href="/manga/'+ app.trending[i].title.replace(/\s/g,"-") +'" class="panel-hover"><img width="168px" height="221px" src="' + app.trending[i].coverUrl + '"></img>' + 
													'<div class="quick-detail text-white panel-hover">' +
														'<h5 style="padding: 10px 15px;padding-top: 0px;padding-right: 25px;padding-bottom: 0px;padding-left: 0px;">'+ app.trending[i].title +'</h5>' +
														'<p style="padding: 10px 15px;padding-top: 0px;padding-right: 25px;padding-bottom: 0px;padding-left: 0px;">'+ app.trending[i].description.substring(0,140) + '...' + '</p>' +
													'</div></a></div>');
			}
        });
        getRequest($('#newManga'), '/api/manga/updated/25', function(err, data){
            if(err)
            {
                return;
            }
            app.newManga = data;
            initCarousel($('#newManga'), $('#newNextArrow'), $('#newPrevArrow'));
			for(var i = 0; i < app.newManga.length; i++)
			{
				$('#newManga').slickAdd('<div>'+ 
												'<a href="/manga/'+ app.newManga[i].title.replace(/\s/g,"-") +'" class="panel-hover"><img width="168px" height="221px" src="' + app.newManga[i].coverUrl + '"></img>' + 
													'<div class="quick-detail text-white panel-hover">' +
														'<h5 style="padding: 10px 15px;padding-top: 0px;padding-right: 25px;padding-bottom: 0px;padding-left: 0px;">'+ app.newManga[i].title +'</h5>' +
														'<p style="padding: 10px 15px;padding-top: 0px;padding-right: 25px;padding-bottom: 0px;padding-left: 0px;">'+ app.newManga[i].description.substring(0,140) + '...' + '</p>' +
													'</div></a></div>');
			}
        });
    }
    
    function initCarousel(slide, nextArrow, prevArrow)
    {
        slide.slick({
			dots: false,
			arrows: true,
			infinite: true,
			nextArrow: nextArrow,
			prevArrow: prevArrow,
			speed: 500,
			slidesToShow: 6,
			slidesToScroll: 1,
			autoplay: true,
			responsive: 
			[{
				breakpoint: 1170,
				settings: {
					slidesToShow: 5,
					slidesToScroll: 5,
				}
			},
			{
				breakpoint: 970,
				settings: {
					slidesToShow: 4,
					slidesToScroll: 4
				}
			},
			{
				breakpoint: 750,
				settings: {
					slidesToShow: 1,
					slidesToScroll: 1
				}
			}]
		});
    }
    
    function getRequest(slide, url, callback)
    {
        $.ajax({
            type: 'GET',
            url: url,
            success: function(data)
            {
                callback(null, data);
            },
            error: function(error)
            {
                console.log(error, null);
            }
        });
    }
</script>