<footer style="position: absolute; bottom: 0; left: 0; width: 100%; height: 135px">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4 padding-md">
				<p class="font-lg">About Our Company</p>
				<p><small>Debonair Manga is owned and copyrighted under DevDebonair. Our goal at Debonair Manga is to provide a professional platform to turn scanlations into something positive and support the manga community as a whole.</small></p>
			</div><!-- /.col -->
			<div class="col-xs-6 col-sm-4 padding-md">
				<p class="font-lg">Stay Connected</p>
				<a href="http://www.facebook.com/DebonairManga" target="_blank" class="social-connect tooltip-test facebook-hover pull-left m-right-xs" data-toggle="tooltip" data-original-title="Facebook"><i class="fa fa-facebook"></i></a>
				<a href="http://www.twitter.com/DebonairManga" target="_blank" class="social-connect tooltip-test twitter-hover pull-left m-right-xs" data-toggle="tooltip" data-original-title="Twitter"><i class="fa fa-twitter"></i></a>
				<a href="http://debonairmanga.tumblr.com/DebonairManga" target="_blank" class="social-connect tooltip-test tumblr-hover pull-left m-right-xs" data-toggle="tooltip" data-original-title="Tumblr"><i class="fa fa-tumblr"></i></a>
				<a href="http://www.pinterest.com/DebonairManga" target="_blank" class="social-connect tooltip-test pinterest-hover pull-left" data-toggle="tooltip" data-original-title="Pinterest"><i class="fa fa-pinterest"></i></a>
			</div><!-- /.col -->
			<div class="col-xs-6 col-sm-4 padding-md">
				<p class="font-lg">Contact Us</p>
				<div class="seperator"></div>
				<a class="btn btn-info"><i class="fa fa-envelope"></i> Contact support</a>
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div>
</footer>