<div class="row">
    
    <div class="col-xs-12 col-sm-12 col-md-3">
        
        <div class="panel-group" id="accordion">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h4 class="panel-title">
						<a id="news-title" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#news-summary">
							
						</a>
					</h4>
				</div>
				<div id="news-summary" class="panel-collapse collapse in">
					<div class="panel-body">
						
					</div>
				</div>
			</div><!-- /panel -->
			
		</div><!-- /panel-group -->
		
    </div>
    
    <div class="hidden-xs col-sm-12 col-md-9">
        <div id="news-reel" class="shadow" style="border: solid thin #888888">
            
        </div>
    </div><!-- ./carousel -->
</div>

<div class="row">
    <div class="col-xs-12 col-lg-3">
        
    </div>
    <div class="col-xs-12 col-lg-9">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4 class="headline dark text-black">
        					Popular Manga
        					<span class="fake-link"><i id="popularNextArrow" style="padding-left: 10px" class="fa fa-chevron-right fa-md pull-right"></i></span>
        					<span class="fake-link"><i id="popularPrevArrow" style="padding-left: 10px" class="fa fa-chevron-left fa-md pull-right"></i></span>
        					<span class="line"></span>
        				</h4>
        				<div class="slider single-items" id="popularManga">
        
        				</div>
        				<a href="/manga" class="pull-right text-info">See All</a>
                    </div>
                </div><!-- ./panel-popular -->
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-lg-3">

    </div>
    <div class="col-xs-12 col-lg-9">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h4 class="headline dark text-black">
        					New Manga
        					<span class="fake-link"><i id="newNextArrow" style="padding-left: 10px" class="fa fa-chevron-right fa-md pull-right"></i></span>
        					<span class="fake-link"><i id="newPrevArrow" style="padding-left: 10px" class="fa fa-chevron-left fa-md pull-right"></i></span>
        					<span class="line"></span>
        				</h4>
        				<div class="slider single-items" id="newManga">
        				
        				</div>
        				<a href="/manga" class="pull-right text-info">See All</a>
                    </div>
                </div><!-- ./panel-new -->
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xs-12 col-lg-3">
        
    </div>
    
    <div class="col-xs-12 col-lg-9">
        <div class="panel panel-default">
            <div class="ribbon-wrapper">
                <div class="ribbon-inner shadow-pulse bg-danger">
                    New
                </div>
            </div>
            <div class="panel-heading">
                Attack on Titan        
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <img src="images/attack-on-titan.jpg"></img>
                        <div class="visible-xs visible-sm"><br></div>
                    </div>
                    <div class="col-xs-12 col-sm-8">
                        In this post-apocalytpic sci-fi story, humanity has been devastated by the bizarre, giant humanoids known as the Titans. Little is known about where they came from or why they are bent on consuming mankind. Seemingly unintelligent, they have roamed the world for years, killing everyone they see. For the past century, what's left of man has hidden in a giant, three-walled city. People believe their 100-meter-high walls will protect them from the Titans, but the sudden appearance of an immense Titan is about to change everything.
                    </div>
                </div>
            </div>
        </div> 
        
        <div class="panel panel-default">
            <div class="ribbon-wrapper">
                <div class="ribbon-inner shadow-pulse bg-warning">
                    Updated
                </div>
            </div>
            <div class="panel-heading">
                The Flower We Saw That Day        
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <img src="images/the-flower-we-saw.jpg"></img>
                        <div class="visible-xs visible-sm"><br></div>
                    </div>
                    <div class="col-xs-12 col-sm-8">
                        Jinta Yadomi and his group of childhood friends have become estranged after a tragic accident split them apart. Now in their high school years, a sudden surprise forces each of them to confront their guilt over what happened that day and come to terms with the ghosts of their past. With their childhood friend Menma back in their lives, the "Super Peace Busters" put their personal issues aside and work together to grant her one true wish. But to do it right, they'll have to overcome years of shame, hard feelings, and heartache.
                    </div>
                </div>
            </div>
        </div>  
        
        <div class="panel panel-default">
            <div class="ribbon-wrapper">
                <div class="ribbon-inner shadow-pulse bg-info">
                    <small>Reccommended</small>
                </div>
            </div>
            <div class="panel-heading">
                The World God Only Knows        
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <img src="images/the-world-god-only-knows.jpg"></img>
                        <div class="visible-xs visible-sm"><br></div>
                    </div>
                    <div class="col-xs-12 col-sm-8">
                        Keima is a dating sim champion. Cute girls are rendered powerless by his irresistible game playing techniques. Too bad things aren't that way in the real world. That is, until his tempting game playing causes a real live-and very bubbly-cute-demon hunter named Elsie to materialize! Now Elsie wants Keima to help her free hot girls from sneaky demons who secretly possess them. Rack up the love points with the devilishly fun anime The World God Only Knows.
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div><!-- ./feed -->


<script type="text/javascript" src="/lib/slick.js/slick/slick.min.js"></script>
<script type="text/javascript">
    $(function(){
        
        getRequest('/api/news/5', function(err, data) {
            if(err)
            {
                return;
            }
            
            $('#news-title').html(data[0].title.toUpperCase());
            $('#news-summary .panel-body').html(data[0].markup.replace(/\$\/.+\/\$/gi,' ').substring(0, 633));
            
            for(var i = 0; i < data.length; i++)
            {
                $('#news-reel').append('<div style="height: 325px"><a href="/news/'+ data[i]._id +'"><img class="no-overflow full-width" src="'+ data[i].coverUrl +'"></img></a></div>');
            }
            
            $('#news-reel').slick({
                autoplay: true,
                autoplaySpeed: 5000,
                speed: 780,
                onAfterChange: function(slide, index)
                {
                    $('#news-title').html(data[index].title.toUpperCase());
                    $('#news-summary .panel-body').html(data[index].markup.replace(/\$\/.+\/\$/gi,' ').substring(0, 633));
                }
            });
            
        });
        
        getRequest('/api/manga/popular/25', function(err, data){
            if(err)
            {
                return;
            }
            for(var i = 0; i < data.length; i++)
			{
				$('#popularManga').append('<div>'+ 
												'<a href="/manga/'+ data[i].title.replace(/\s/g,"_") +'"><img class="shadow" style="margin: 0 auto; border: solid thin black" width="168px" height="221px" src="' + data[i].coverUrl + '"></img>' + 
													'<hr><div>' +
														'<h5 class="reel-manga-item text-center">'+ data[i].title.toUpperCase() +'</h5>' +
														'<p class="reel-manga-item text-center">'+ data[i].description.substring(0,140) + '...' + '</p>' +
													'</div></a></div>');
			}
			initCarousel($('#popularManga'), $('#popularNextArrow'), $('#popularPrevArrow'));
        });
        
        getRequest('/api/manga/updated/25', function(err, data){
            if(err)
            {
                return;
            }
            for(var i = 0; i < data.length; i++)
			{
				$('#newManga').append('<div>'+ 
												'<a href="/manga/'+ data[i].title.replace(/\s/g,"_") +'"><img class="shadow" style="margin: 0 auto; border: solid thin black;" width="168px" height="221px" src="' + data[i].coverUrl + '"></img>' + 
													'<div><hr>' +
														'<h5 class="reel-manga-item text-center">'+ data[i].title.toUpperCase() +'</h5>' +
														'<p class="reel-manga-item text-center">'+ data[i].description.substring(0,140) + '...' + '</p>' +
													'</div></a></div>');
			}
			initCarousel($('#newManga'), $('#newNextArrow'), $('#newPrevArrow'));
        });

        function initCarousel(slide, nextArrow, prevArrow)
        {
            slide.slick({
    			dots: false,
    			arrows: true,
    			infinite: true,
    			nextArrow: nextArrow,
    			prevArrow: prevArrow,
    			autoplaySpeed: 5000,
    			speed: 850,
    			slidesToShow: 5,
    			slidesToScroll: 5,
    			autoplay: true,
    			responsive: 
    			[{
    				breakpoint: 1170,
    				settings: {
    					slidesToShow: 4,
    					slidesToScroll: 4,
    				}
    			},
    			{
    				breakpoint: 970,
    				settings: {
    					slidesToShow: 4,
    					slidesToScroll: 4
    				}
    			},
    			{
    				breakpoint: 750,
    				settings: {
    					slidesToShow: 1,
    					slidesToScroll: 1
    				}
    			}]
    		});
        }
        
    	function getRequest(url, callback)
        {
            $.ajax({
                type: 'GET',
                url: url,
                success: function(data)
                {
                    callback(null, data);
                },
                error: function(error)
                {
                    console.log(error, null);
                }
            });
        }
    });
</script>