<nav id="navigation" class="navbar transparent navbar-fixed-top bg-white">
	<div class="container">
		
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#drop-nav">
				<span class="sr-only">Toggle navigation</span>
				<i class="fa fa-bars fa-2x text-danger"></i>
			</button>
			
			<a href="/" class="navbar-brand"><span class="text-danger">Debonair</span> Manga</a>
			
		</div><!-- navbar toggle -->
		
		
		<div id="drop-nav" class="collapse navbar-collapse" role="navigation">
			<ul class="nav navbar-nav navbar-right">

				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Quick Links<b class="caret"></b></a>
					<ul class="dropdown-menu flipInV" role="menu">
						<li role="presentation" class="dropdown-header bg-danger">Debonair Favorites</li>
						<li><a href="/manga/Naruto">Naruto</a></li>
						<li><a href="/manga/One_Piece">One Piece</a></li>
						<li><a href="/manga/Bleach">Bleach</a></li>
						<li role="presentation" class="dropdown-header bg-danger">Debonair Genres</li>
						<li><a href="/genres/shounen">Shounen</a></li>
						<li><a href="/genres/shoujo">Shoujo</a></li>
						<li><a href="/genres/slice-of-life">Slice of Life</a></li>
						<li><a href="/genres/adventure">Adventure</a></li>
						<li><a href="/genres/seinen">Seinen</a></li>
						<li><a href="/genres/romance">Romance</a></li>
						<li><a href="/genres/ecchi">Ecchi</a></li>
						<li><a href="/genres/mature">Mature</a></li>
						<li><a href="/genres/harem">Harem</a></li>
					</ul>
				</li>
				
				<li id="navManga" class=""><a href="/manga">Manga</a></li>
				<li id="navGenre" class=""><a href="/genres">Genre</a></li>
				<li id="navNews" class=""><a href="/news">News</a></li>
				<li id="navReviews" class=""><a href="/reviews">Reviews</a></li>
				<li><a id="navSignIn" href=""><i class="fa fa-power-off fa-1x text-danger"></i></a></li>
			</ul>
			
			<form action="/search" class="hidden-xs navbar-form">
				<div class="form-group" style="display:inline;">
					<div class="input-group" style="display:table;">
						<input id="search" class="form-control" name="q" method="GET" placeholder="Search Here" autocomplete="off" type="text">
						<span class="input-group-addon bg-danger" style="width:1%;"><span class="glyphicon glyphicon-search"></span></span>
					</div>
				</div>
			</form>
		</div>
	</div>
</nav>

<script type="text/javascript">
	
</script>
