<div class="row">
    <div class="col-sm-12">
        <div id="reader" class="full">
            
        </div>
    </div>
</div>

<script type="text/javascript" src="/lib/slick.js/slick/slick.min.js"></script>
<script>
    $.ajax({
        type: 'GET',
        url: '/api/manga/<%= id %>/sources/kissmanga/chapters/<%= chapterNumber %>',
        success: function(data)
        {
            console.log(data);
            for(var i = 0; i < data.length; i++)
            {
                $('#reader').append('<div><img style="width:auto; height: 20%;" class="center-block" src="'+ data[i].image +'"></img></div>');    
            }
            var nextChapter = parseInt(<%= chapterNumber %>)+1;
            $('#reader').append('<div><a href="/manga/<%= title %>/'+ nextChapter +'"><button class="btn btn-danger center-block">Next Chapter</button></a></div>');
            $('#reader').slick({
                infinite: false
            });
        },
        error: function(err)
        {
            console.log(err);
        }
    });
</script>