<nav id="chapterMenu">
    <ul id="chapterPanel">
        
    </ul>
</nav>

<a id="menu-control" href="#chapterMenu" class="pos-front fixed fake-link"><i class="fa fa-bars fa-2x"></i></a>

<div id="reader-with-controls">
    <div id="reader-controls" class="hidden-xs fixed pos-front" style="margin-top: 10%;">
        <div style="padding-bottom: 20px">
            <span class="fake-link"><i id="view-toggle-control" class="fa fa-file fa-2x"></i></span>
        </div>
        <div style="padding-bottom: 20px">
            <span class="fake-link"><i id="comment-control" class="fa fa-wechat fa-2x"></i></span>
        </div>
        <div style="padding-bottom: 20px">
            <span class="fake-link"><i  id="zoom-in-control" class="fa fa-search-plus fa-2x"></i></span>
        </div>
        <div style="padding-bottom: 20px">
            <span class="fake-link"><i id="zoom-out-control" class="fa fa-search-minus fa-2x"></i></span>
        </div>
        <div style="padding-bottom: 20px">
            <span class="fake-link"><i id="full-screen-control" class="fa fa-expand fa-2x"></i></span>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <a href="/manga/<%= title.replace(/\s/g,'_') %>"><h1><%= title.toUpperCase() %></h1></a>
            <h4><i><%= author.toUpperCase() %></i></h4>
        </div>
    </div><!-- ./title -->
    <hr>
    <div id="reader" class="full">
        
    </div>
</div>

<script type="text/javascript" src="/lib/hammer/hammer.min.js"></script>
<script type="text/javascript" src="/lib/jQuery.mmenu/src/js/jquery.mmenu.min.all.js"></script>
<script type="text/javascript" src="/lib/slick.js/slick/slick.min.js"></script>
<script>
    $('#top-nav').removeClass('fixed');
    $('#navigation').addClass('navbar-static-top');
    
    var $isDual = false;
    var isZoom = false;
    var pages = [];
    
    $.ajax({
        type: 'GET',
        url: '/api/manga/<%= id %>/sources/kissmanga/chapters?select=title+number',
        success: function(data)
        {
            
            for(var i = 0; i < data.length; i++)
            {
                var list = '<li><a href="/manga/<%= title %>/'+ data[i].number +'">'+ data[i].title +'</a></li>';
                $('#chapterPanel').append(list);
            }
            $("#chapterMenu").mmenu({
                searchfield: true,
                dragOpen: true,
                classes: "mm-white",
                header: {
                    title: "Chapter List",
                    add: true,
                    update: true
                }
            });
            
            $('#menu-control').addClass('animated bounce');
        },
        error: function(err)
        {
            console.log(err);
        }
    });
        
    $.ajax({
        type: 'GET',
        url: '/api/manga/<%= id %>/sources/kissmanga/chapters/<%= chapterNumber %>',
        success: function(data)
        {
            for(var i = 0; i < data.length; i++)
            {
                pages.push(data[i].image);
                $('#reader').append('<div class="text-center"><img style="display: inline-block" src="'+ data[i].image +'"></img></div>');    
            }
            var nextChapter = parseInt(<%= chapterNumber %>)+1;
            $('#reader').append('<div><a href="/manga/<%= title %>/'+ nextChapter +'"><button class="btn btn-danger center-block">Next Chapter</button></a></div>');
    
            $('#reader img').height($(window).height());
    
            $('#reader').slick({
                infinite: false
            });
            
        },
        error: function(err)
        {
            console.log(err);
        }
    });
    
    function buildReader(imageHeight, isDual)
    {
        var nextChapter = parseInt(<%= chapterNumber %>)+1;
        var currentSlide = $('#reader').slickCurrentSlide();
            
        $('#reader').empty();
        $('#reader').unslick();
        
        if(!isDual)
        {
            currentSlide /= 2;
            
            for(var i = 0; i < pages.length; i++)
            {
                var image1 = new Image();
                image1.src = pages[i];
                var image2 = new Image();
                image2.src = pages[i+1];
                
                var htmlToAppend = '<div class="text-center"><img style="display: inline-block" src="'+ pages[i] +'"></img>';

                if(((image1.width/image1.height) < 0.8) && ((image2.width/image2.height) < 0.8) && (i+1 < pages.length))
                {
                    htmlToAppend += '<img style="display: inline-block" src="'+ pages[i+1] +'"></img>';
                    i++;
                }
                htmlToAppend += '</div>';
                $('#reader').append(htmlToAppend);
            }
            $('#reader').append('<div><a href="/manga/<%= title %>/'+ nextChapter +'"><button class="btn btn-danger center-block">Next Chapter</button></a></div>');
            
        }
        else
        {
            currentSlide *= 2;
            
            for(var i = 0; i < pages.length; i++)
            {
                $('#reader').append('<div class="text-center"><img style="display: inline-block" src="'+ pages[i] +'"></img></div>');    
            }

            $('#reader').append('<div><a href="/manga/<%= title %>/'+ nextChapter +'"><button class="btn btn-danger center-block">Next Chapter</button></a></div>');
        }
        
        $('#reader img').height(imageHeight);
        $('#reader').slick({
            infinite: false
        });
        $('#reader').slickGoTo(Math.ceil(currentSlide));
    }
    
    $('#view-toggle-control').click(function(){
        if($isDual)
        {
            $(this).removeClass('fa-files-o');
            $(this).addClass('fa-file');
            $isDual = true;
        }
        else
        {
            $(this).removeClass('fa-file');
            $(this).addClass('fa-files-o');   
            $isDual = false;
        }
        buildReader($(window).height(), $isDual);
    });
    
    $('#zoom-in-control').click(function(){
        if(!isZoom)
        {
            $('#reader img').addClass('full');
        }
        isZoom = true;
    });
    
    $('#zoom-out-control').click(function(){
        if(isZoom)
        {
            $('#reader img').removeClass('full');
            $('#reader img').height($(window).height());
        }
        isZoom = false;
    });
    
    $('#full-screen-control').click(function(){
        var slide = document.getElementById('reader');
        
        if(document.fullscreen)
        {
            document.exitFullScreen();
            return;
        }
        
        if(slide.mozRequestFullScreen)
        {
            slide.mozRequestFullScreen(); 
        }
        else if(slide.webkitRequestFullScreen)
        {
            slide.webkitRequestFullScreen();
        }
        buildReader(screen.availHeight, $isDual);
        $isDual = !$isDual;
    });
</script>