@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);

#home-wrapper {
	font-family: 'Roboto', helvetica;
	width: 100%;
}

.container {
	width: 1500px;
	margin: 50px auto;
}

.no-display {
	display: none;
}

.home-overlay {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #FFF;
	z-index: 99;
}

.home-overlay > div {
	overflow-y: scroll;
}

.home-reader-close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 25px 50px;
}

.home-reader-close > span {
	font-size: 50px;
	font-weight: 100;
	cursor: pointer;
}

@media only screen and (max-width: 1500px) {
	.container {
		width: 1300px;
	}
}

@media only screen and (max-width: 1250px) {
	.container {
		width: 1000px;
	}
}

@media only screen and (max-width: 1000px) {
	.container {
		width: 800px;
	}
}

@media only screen and (max-width: 750px) {
	.container {
		width: 500px;
	}
}