@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);

#home-wrapper {
	font-family: 'Roboto', helvetica;
	width: 100vw;
}

.no-display {
	display: none;
}

.no-scroll {
	overflow: hidden;
}

.home-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
	z-index: 99;
	background-color: #FFF;
}

.home-reader-close {
	position: absolute;
	padding: 25px 50px;
	top: 0;
	right: 0;
}

.home-reader-close > span {
	font-size: 50px;
	font-weight: 100;
	cursor: pointer;
}

.container {
	width: 100%;
	padding-top: 25px;
	text-align: center;
}

#home-wrapper .slider-decorator-2 {
	display: none;
}

@media only screen and (max-width: 1000px) {
	.home-overlay {
		overflow-y: auto;
		overflow-x: hidden;
	}
}