@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);

.featured-book-wrapper {
	display: table;
	font-family: 'Roboto';
	height: 100%;
}

.featured-book-image {
	display: table-cell;
	margin: 0;
	padding: 0;
}

.featured-book-content {
	background-color: #340228;
	display: table-cell;
	max-height: 350px;
	width: 100%;
	padding: 50px;
	vertical-align: top;
}

.featured-book-image > img {
	border: solid #340228 thin;
	cursor: pointer;
	height: 350px;
	width: 250px;
	padding: 0;
	margin: 0;
}

.featured-book-title {
	color: #E1B1E1;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 28px;
	letter-spacing: 5px;
}

.featured-book-description {
	color: #FBECFF;
	font-weight: 300;
	font-size: 19px;
	line-height: 1.7em;
	overflow-y: scroll;
	max-height: 150px;
}