.book-cover {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	width: 200px;
	height: 310px;
	cursor: pointer;
	transition-duration: .2s;
	border: solid rgba(0,0,0,0.12) thin;
}

.book-cover:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}