@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);

button {
	border-radius: 50px;
	border: solid #3F0532 thin;
	background-color: #fff;
	padding: 15px 35px;
	cursor: pointer;
	outline: none;
}

button > span {
	font-family: 'Roboto';
	text-align: center;
	text-transform: uppercase;
	color: #8E2C76;
	letter-spacing: 5px;
	font-weight: 100;
}