<% include navigation.html %>
<div id="main-container" style="margin-left: 0px">
    <div class="padding-md">
        <div class="row">
            <div class="col-sm-12">
                <section style="clear: both">
                    <h4 style="float: left">Manga</h4>
                    <h4 style="float: right">November 27, 1992</h4>
                    <h2 class="text-center">Debonair Manga</h2>
                    <hr>
                </section>
            </div>
        </div>
    </div>
</div>