<style type="text/css">
    #filter {
        text-align: center;
        color: #9e9e9e;
    }
    
    #filter h1, h2, h3, h4, h5 {
        color: #ef5350;
    }
    
    #filter li {
        cursor: pointer;
    }
</style>

<div id="filter" class="row">
    <div class="col l2 hide-on-med-and-down">
        <div>
            <h4>GENRES</h4>
            <ul id="filter-genres">
                <li>Adventure</li>
                <li>Ecchi</li>
                <li>Harem</li>
                <li>Mature</li>
                <li>Romance</li>
                <li>Seinen</li>
                <li>Shoujo</li>
                <li>Shounen</li>
                <li>Slice of Life</li>
            </ul>
        </div>
        
        <div>
            <h4>STATUS</h4>
            <ul id="filter-status">
                <li>Complete</li>
                <li>Ongoing</li>
            </ul>
        </div>
        
        <div>
            <h5>CHAPTERS</h5>
            <ul id="filter-chapters">
                <li>0 - 15</li>
                <li>15 - 30</li>
                <li>30 - 60</li>
                <li>60 - 120</li>
                <li>120 - 240</li>
                <li>240 - Up</li>
            </ul>
        </div>
    </div>
    <div class="col s12 m12 l10">
        <section>
            <h5>What genre would you like to read?</h5>
            <div class="row">
                <div class="col l4">
                    <div class="card">
                        <div class="card-image">
                            <img src="/images/attack-on-titan.jpg"></img>
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4 center-align">Shounen</span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Shounen <i class="mdi-navigation-close right"></i></span>
                            <p>Shounen manga is typically characterized by high-action, often humorous plots featuring male protagonists. The camaraderie between boys or men on sports teams, fighting squads and the like is often emphasized. Attractive female characters like Bulma from Dragon Ball or Nami from One Piece, with exaggerated features are also common. Main characters may also feature an ongoing desire to better themselves.</p>
                        </div>
                    </div>
                </div>
                <div class="col l4">
                    <div class="card">
                        <div class="card-image">
                            <img src="/images/dragon-ball.jpg"></img>
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4 center-align">Adventure</span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Adventure <i class="mdi-navigation-close right"></i></span>
                            <p>Adventure manga is a genre of manga in which a main protagonist journeys on an adventure, an exciting undertaking involving risk and physical danger. This theme forms the basis of the main storyline. Stories are mainly character driven and may have no ulterior motive.</p>
                        </div>
                    </div>
                </div>
                <div class="col l4">
                    <div class="card">
                        <div class="card-image">
                            <img src="/images/nagi-no-asukara.png"></img>
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4 center-align">Slice of Life</span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Shounen <i class="mdi-navigation-close right"></i></span>
                            <p>A slice of life story is a category for a story that portrays a "cut-out" sequence of events in a character's life. It usually tries to depict the everyday life of ordinary people, sometimes but rarely, with fantasy or science fiction elements involved.</p>
                        </div>
                    </div>
                </div>
                <div class="col l4">
                    <div class="card">
                        <div class="card-image">
                            <img src="/images/the-world-god-only-knows.jpg"></img>
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4 center-align">Harem</span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Harem <i class="mdi-navigation-close right"></i></span>
                            <p>Harem is an ambiguously-defined subgenre of anime and manga characterized by a protagonist surrounded, usually amorously, by three or more members of the opposing sex and/or love interests.</p>
                        </div>
                    </div>
                </div>
                <div class="col l4">
                    <div class="card">
                        <div class="card-image">
                            <img src="/images/nisekoi.jpg"></img>
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4 center-align">Romance</span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Romance <i class="mdi-navigation-close right"></i></span>
                            <p>Romance manga place their primary focus on the relationship and romantic love between two people, and usually have an "emotionally satisfying and optimistic ending."</p>
                        </div>
                    </div>
                </div>
                <div class="col l4">
                    <div class="card">
                        <div class="card-image">
                            <img src="/images/the-flower-we-saw.jpg"></img>
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4 center-align">Shoujo</span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Shoujo <i class="mdi-navigation-close right"></i></span>
                            <p>Shoujo manga is manga marketed to a female audience roughly between the ages of 10 and 18. Shoujo manga covers many subjects in a variety of narrative and graphic styles, from historical drama to science fiction — often with a strong focus on human and romantic relationships and emotions.</p>
                        </div>
                    </div>
                </div>
                <div class="col l4">
                    <div class="card">
                        <div class="card-image">
                            <img src="/images/black-lagoon.jpg"></img>
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4 center-align">Sienen</span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Sienen <i class="mdi-navigation-close right"></i></span>
                            <p>Seinen manga is manga marketed to a male audience aged roughly 17 on into their 40's. In Japanese, the word seinen means "young man" or "young men." Seinen manga are distinguished from 'hentai', although there is sexual content of a softcore nature in some seinen series.</p>
                        </div>
                    </div>
                </div>
                <div class="col l4">
                    <div class="card">
                        <div class="card-image">
                            <img src="/images/esdeath-ecchi.jpg"></img>
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4 center-align">Ecchi</span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Ecchi <i class="mdi-navigation-close right"></i></span>
                            <p>A manga term denoting sexual content that is added into the story mainly for fans of the genre. Although borderline at times, ecchi manga does not usually involve nudity.</p>
                        </div>
                    </div>
                </div>
                <div class="col l4">
                    <div class="card">
                        <div class="card-image">
                            <img src="/images/mature.jpg"></img>
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4 center-align">Mature</span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Mature <i class="mdi-navigation-close right"></i></span>
                            <p>Manga which features nudity and places characters in sexual situations. Themes are targeted towards adults and must be 18 years or older to view.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section>
            <h5>How many chapters would you like to read?</h5>
            <div>
                <div class="col l4">
                    <div class="card">
                        <div class="card-content">
                            <div class="valign-wrapper">
                                <div class="valign">
                                    <span class="grey-text text-darken-4">0 - 15</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col l4">
                    <div class="card">
                        <div class="card-content">
                            <div class="valign-wrapper">
                                <div class="valign">
                                    <span class="grey-text text-darken-4">15 - 30</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col l4">
                    <div class="card">
                        <div class="card-content">
                            <div class="valign-wrapper">
                                <div class="valign">
                                    <span class="grey-text text-darken-4">30 - 60</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col l4">
                    <div class="card">
                        <div class="card-content">
                            <div class="valign-wrapper">
                                <div class="valign">
                                    <span class="grey-text text-darken-4">60 - 120</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col l4">
                    <div class="card">
                        <div class="card-content">
                            <div class="valign-wrapper">
                                <div class="valign">
                                    <span class="grey-text text-darken-4">120 - 240</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col l4">
                    <div class="card">
                        <div class="card-content">
                            <div class="valign-wrapper">
                                <div class="valign">
                                    <span class="grey-text text-darken-4">240 - UP</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<script type="text/javascript">
    $('#filter li').click(function(){
        $(this).toggleClass('red-text lighten-1');
    });
</script>