<style type="text/css">
    #featured {
        padding: 0px 25px;
    }
    
    #article .card-title {
        opacity: 0;
        -webkit-transition-duration: 0.4s;
        -moz-transition-duration: 0.4s;
        -o-transition-duration: 0.4s;
        -ms-transition-duration: 0.4s;
        transition-duration: 0.4s;
        
        -webkit-transition-delay: 0.2s;
        -moz-transition-delay: 0.2s;
        -o-transition-delay: 0.2s;
        -ms-transition-delay: 0.2s;
        transition-delay: 0.2s;
    }
    
    #article img {
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        -ms-transition-duration: 0.5s;
        transition-duration: 0.5s;    
    }
    
    #article .card:hover img {
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
    }
    
    #article .card:hover .card-title {
        opacity: 1.0;
    }
</style>
<link rel="stylesheet" type="text/css" href="/lib/slick.js/slick/slick.css"/>


<div class="slider hide-on-small-only">
    <ul id="news-slide" class="slides">
        
    </ul>
</div>

<section class="z-depth-1">
    <ul class="tabs">
        <li class="tab"><a id="tabPopular" class="active letter-space" href="#slidePopular">Popular</a></li>
        <li class="tab"><a id="tabTrending" class="letter-space" href="#slideTrending">Trending</a></li>
        <li class="tab"><a id="tabUpdated" class="letter-space" href="#slideUpdated">Updated</a></li>
        <li class="tab"><a id="tabBookmark" class="letter-space" href="#slideBookmark">Bookmark</a></li>
    </ul>
</section>

<div class="row">
    
    <div id="mangaSlides">
        <div id="slidePopular" class="col s12">

        </div>
        <div id="slideTrending" class="col s12">

        </div>
        <div id="slideUpdated" class="col s12">

        </div>
        <div id="slideBookmark" class="col s12">

        </div>
    </div><!-- slides -->
</div>

<div id="featured" class="row">
    <div class="col s12 m12 l9">
        <div class="card">
            <div class="card-content">
                <h5 class="center-align red-text text-lighten-2 letter-space">FEATURED</h5>
                <hr>
                <div class="row">
                    <div class="col m4">
                        <img class="responsive-img" src="http://img4.wikia.nocookie.net/__cb20110813093750/naruto/pl/images/e/ee/Tom_56_Ok%C5%82adka.jpg"></img>
                    </div>
                    <div class="col m8 hide-on-small-only">
                        <h5 class="letter-space">NARUTO</h5>
                        <p>Before Naruto's birth, a great demon fox had attacked the Hidden Leaf Village. A man known as the 4th Hokage sealed the demon inside the newly born Naruto, causing him to unknowingly grow up detested by his fellow villagers. Despite his lack of talent in many areas of ninjutsu, Naruto strives for only one goal: to gain the title of Hokage, the strongest ninja in his village. Desiring the respect he never received, Naruto works toward his dream with fellow friends Sasuke and Sakura and mentor Kakashi as they go through many trials and battles that come with being a ninja.</p>
                        <h5 class="red-text text-lighten-2 center-align letter-space">PREVIEW</h5>
                        <hr>
                        <div class="col m3">
                            <img class="responsive-img materialboxed" src="http://2.bp.blogspot.com/-1ZKakzKlcBw/VFwv43fBsfI/AAAAAAAAT3I/3Pu_UuorxcM/004.jpg?imgmax=3000"></img>
                        </div>
                        <div class="col m3">
                            <img class="responsive-img materialboxed" src="http://2.bp.blogspot.com/-hcgOWGiwiRo/VFwwAnPAXaI/AAAAAAAAT3Q/AMspWpcc99k/005.jpg?imgmax=3000"></img>
                        </div>
                        <div class="col m3">
                            <img class="responsive-img materialboxed" src="http://2.bp.blogspot.com/-DRLKqJY3TG8/VFwwI0raLBI/AAAAAAAAT3Y/qMVQ8xzKjbk/006.jpg?imgmax=3000"></img>
                        </div>
                        <div class="col m3">
                            <img class="responsive-img materialboxed" src="http://2.bp.blogspot.com/-PO6S3KMuGKs/VFwwR6afM0I/AAAAAAAAT3g/-qyTxt4EVAY/007.jpg?imgmax=3000"></img>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
    
    <div class="col m12 l3 hide-on-small-only">
        <div class="card blue-grey col m3 l12">
            <div class="card-content white-text">
                <p class="center-align">Do you recommend "Naruto" to other readers?</p>
            </div>
            <div class="card-action center-align">
                <a href="#" class="letter-space">Yes</a>
                <a href="#" class="letter-space">No</a>
            </div>
        </div>
        
        <div class="card red lighten-2 col m3 l12">
            <div class="card-content white-text">
                <p class="center-align">Would you like to share Naruto with others?</p>
            </div>
            <div class="card-action white-text">
                <div style="padding-bottom: 15px">
                    <div class="col m3">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                    </div>
                    <div class="col m3">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </div>
                    <div class="col m3">
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                    <div class="col m3">
                        <a href="#"><i class="fa fa-tumblr"></i></a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="card blue-grey col m3 l12">
            <div class="card-content white-text">
                <p class="center-align">Do you recommend "Naruto" to other readers?</p>
            </div>
            <div class="card-action center-align">
                <a href="#" class="letter-space">Yes</a>
                <a href="#" class="letter-space">No</a>
            </div>
        </div>
    </div>
</div>

<div id="article">
    <div>
        <h5 class="red-text text-lighten-2 letter-space center-align">ARTICLES</h5>
        <hr>
    </div>
    <div class="col l4">
        <div class="card small">
            <div class="card-image">
                <img src="http://images.saiyanisland.com/data/623/Naruto-Storm-4-035.jpg"></img>
                <span class="card-title">Naruto Storm 4: Wall Fighting and Running Returns to Ninja Battles</span>
            </div>
            <div class="card-content">
                <p>Bandai Namco Games has today announced wall fighting, or officially known as wall running, is making a return in ninja battles through Naruto Shippuden: Ultimate Ninja Storm 4!</p>
            </div>
        </div>    
    </div>
    <div class="col l4">
        <div class="card small">
            <div class="card-image">
                <img src="http://i.ytimg.com/vi/8OBxp1ZhAV8/maxresdefault.jpg"></img>
                <span class="card-title">Hunter x Hunter & Yu Yu Hakusho Crossover</span>
            </div>
            <div class="card-content">
                <p>Shonen Jump Weekly has reported and confirmed Togashi's return to the weekly magazine. Togashi's critically acclaimed work, Hunter x Hunter has been on hiatus for the past couple of months.</p>
            </div>
        </div>    
    </div>
    <div class="col l4">
        <div class="card small">
            <div class="card-image">
                <img src="http://www.musaanimers.com/wp-content/uploads/2014/12/the_last_naruto_the_movie.jpg"></img>
                <span class="card-title">The Last: Naruto the Movie Poised to Top 2 Billion Yen</span>
            </div>
            <div class="card-content">
                <p>Japanese film distributor TOHO reported that The Last is outpacing the July 2012 film Road to Ninja: Naruto the Movie by 175% at the box office, as of 3:00 p.m. on its first day.</p>
            </div>
        </div>    
    </div>
    <div class="col l4">
        <div class="card small">
            <div class="card-image">
                <img src="http://www.musaanimers.com/wp-content/uploads/2014/12/the_last_naruto_the_movie.jpg"></img>
                <span class="card-title">The Last: Naruto the Movie Poised to Top 2 Billion Yen</span>
            </div>
            <div class="card-content">
                <p>Japanese film distributor TOHO reported that The Last is outpacing the July 2012 film Road to Ninja: Naruto the Movie by 175% at the box office, as of 3:00 p.m. on its first day.</p>
            </div>
        </div>    
    </div>
    <div class="col l4">
        <div class="card small">
            <div class="card-image">
                <img src="http://images.saiyanisland.com/data/623/Naruto-Storm-4-035.jpg"></img>
                <span class="card-title">Naruto Storm 4: Wall Fighting and Running Returns to Ninja Battles</span>
            </div>
            <div class="card-content">
                <p>Bandai Namco Games has today announced wall fighting, or officially known as wall running, is making a return in ninja battles through Naruto Shippuden: Ultimate Ninja Storm 4!</p>
            </div>
        </div>    
    </div>
    <div class="col l4">
        <div class="card small">
            <div class="card-image">
                <img src="http://i.ytimg.com/vi/8OBxp1ZhAV8/maxresdefault.jpg"></img>
                <span class="card-title">Hunter x Hunter & Yu Yu Hakusho Crossover</span>
            </div>
            <div class="card-content">
                <p>Shonen Jump Weekly has reported and confirmed Togashi's return to the weekly magazine. Togashi's critically acclaimed work, Hunter x Hunter has been on hiatus for the past couple of months.</p>
            </div>
        </div>    
    </div>
</div><!-- article -->

<script type="text/javascript" src="/lib/slick.js/slick/slick.min.js"></script>
<script>
    $(function(){
        var slickOptions = {
            slidesToShow: 5,
            slidesToScroll: 5,
            responsive: [
                {
                    breakpoint: 992,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
            ]
        };
        
        $.get('/api/v1/manga/popular/15', function(data){
            for(var i = 0; i < data.length; i++)
            {
                $('#slidePopular').append(
                    '<div class="col m3 l3">' +
                        '<div class="card">' +
                            '<div class="card-image waves-effect waves-block waves-light">' +
                                '<img src="'+ data[i].coverUrl +'"></img>' +
                            '</div>' +
                            '<div class="card-content">' +
                                '<span class="card-title activator grey-text text-darken-4">'+ data[i].title.toLocaleUpperCase().substring(0,12) +'</span>' +
                            '</div>' +
                            '<div class="card-reveal">' +
                                '<span class="card-title grey-text text-darken-4">'+ data[i].title.toUpperCase().substring(0,12) +'</span>' +
                                '<p>'+ data[i].description +'</p>' +
                            '</div>' +
                        '</div>' +
                    '</div>'
                );
            }
            $('#slidePopular').slick(slickOptions);
        });
        $.get('/api/v1/manga/trending/15', function(data){
            for(var i = 0; i < data.length; i++)
            {
                $('#slideTrending').append(
                    '<div class="col m3 l3">' +
                        '<div class="card">' +
                            '<div class="card-image waves-effect waves-block waves-light">' +
                                '<img src="'+ data[i].coverUrl +'"></img>' +
                            '</div>' +
                            '<div class="card-content">' +
                                '<span class="card-title activator grey-text text-darken-4">'+ data[i].title.toLocaleUpperCase().substring(0,12) +'</span>' +
                            '</div>' +
                            '<div class="card-reveal">' +
                                '<span class="card-title grey-text text-darken-4">'+ data[i].title.toUpperCase().substring(0,12) +'</span>' +
                                '<p>'+ data[i].description +'</p>' +
                            '</div>' +
                        '</div>' +
                    '</div>'
                );
            }
            $('#slideTrending').slick(slickOptions);
        });
        $.get('/api/v1/manga/updated/15', function(data){
            for(var i = 0; i < data.length; i++)
            {
                $('#slideUpdated').append(
                    '<div class="col m3 l3">' +
                        '<div class="card">' +
                            '<div class="card-image waves-effect waves-block waves-light">' +
                                '<img src="'+ data[i].coverUrl +'"></img>' +
                            '</div>' +
                            '<div class="card-content">' +
                                '<span class="card-title activator grey-text text-darken-4">'+ data[i].title.toLocaleUpperCase().substring(0,12) +'</span>' +
                            '</div>' +
                            '<div class="card-reveal">' +
                                '<span class="card-title grey-text text-darken-4">'+ data[i].title.toUpperCase().substring(0,12) +'</span>' +
                                '<p>'+ data[i].description +'</p>' +
                            '</div>' +
                        '</div>' +
                    '</div>'
                );
            }
            $('#slideUpdated').slick(slickOptions);
        });
        $.get('/api/v1/news/5', function(data){
            for(var i = 0; i < data.length; i++)
            {
                $('#news-slide').append(
                    '<li>' +
                        '<img src="'+ data[i].coverUrl +'"></img>' +
                        '<div class="caption center-align full">' +
                            '<h5 class="grey lighten-5 red-text text-lighten-2">'+ data[i].title +'</h5>' +
                        '</div>' +
                    '</li>'
                );
            }
            
            $('.slider').slider({
                full_width: false,
                indicators: false,
                interval: 4000
            });
        });
        
        $('#tabPopular').click(function(){
            setTimeout(function(){
                $('#slidePopular').slick('unslick');
                $('#slidePopular').slick(slickOptions);
            }, 50);
        });
        
        $('#tabTrending').click(function(){
            setTimeout(function(){
                $('#slideTrending').slick('unslick');
                $('#slideTrending').slick(slickOptions);
            }, 50);
        });
        
        $('#tabUpdated').click(function(){
            setTimeout(function(){
                $('#slideUpdated').slick('unslick');
                $('#slideUpdated').slick(slickOptions);
            }, 50);
        });
    });
</script>