<style type="text/css">
    #manga {
        padding: 0px 25px;
    }
    #manga-stats i {
        opacity: 0.6;
    }
    
    #manga-chapter-list li {
        width: 100%;
    }
    
    #manga-chapter-list a {
        text-align: center;
    }
    
    #manga-chapter-list-activator {
        position: fixed;
        right: 55px;
        top: 20;
        z-index: 99;
    }    
</style>

<link rel="stylesheet" href="/lib/jQuery.mmenu/src/css/jquery.mmenu.all.css" type="text/css" />

<nav id="manga-chapter-list">
    <ul>
        <% for(var i = 0; i < manga.chapters.length; i++) { %>
            <li><a href="#"><%= manga.chapters[i].title %></a></li>
        <% } %>
    </ul>
</nav>

<a id="manga-chapter-list-activator" href="#manga-chapter-list"><i class="mdi-action-list small red-text text-lighten-2 fake-link"></i></a>

<section id="manga">
        
    <div class="row">
        <div id="manga-cover" class="col s12 m12 l3">
            <img class="responsive-img z-depth-2 full-width" style="border: solid thin black" src="<%= manga.coverUrl %>"></img>
        </div>
        <div class="col s12 m12 l9">
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title grey-text text-darken-4"><%= manga.title.toUpperCase() %></span>
                            <br>
                            <% for(var i = 0; i < manga.genres.length; i++) { %>
                                <i class="grey-text lighten-3"><%= manga.genres[i] %>, </i>
                            <% } %>
                            <br>
                            <hr color="#f2f2f2">
                            <p><%= manga.description %></p>
                        </div>
                    </div>
                </div>
            </div>
            
            <div id="manga-stats" class="row">
                <div class="col s12 m6 l6">
                    <div class="card blue-grey white-text">
                        <div class="card-content">
                            <i class="fa fa-circle-o-notch fa-2x fa-spin"></i>
                            <h5 class="center-align"><%= manga.status.toUpperCase() %></h5>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l6">
                    <div class="card red lighten-2 white-text">
                        <div class="card-content">
                            <i class="fa fa-book fa-2x"></i>
                            <h5 class="center-align"><%= manga.numOfChapters %> CHAPTERS</h5>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l6">
                    <div class="card teal lighten-2 white-text">
                        <div class="card-content">
                            <i class="fa fa-eye fa-2x"></i>
                            <h5 class="center-align"><%= manga.views.total.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") %> VIEWS</h5>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l6">
                    <div class="card blue lighten-2 white-text">
                        <div class="card-content">
                            <i class="fa fa-thumbs-up fa-2x"></i>
                            <h5 class="center-align"><%= manga.likes.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") %> LIKES</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <div id="manga-preview" class="row">
        <h4 class="center-align letter-space red-text text-lighten-2">PREVIEW</h4>
        <hr color="#f2f2f2">
    </div>
</section>

<script type="text/javascript" src="/lib/hammer.js/hammer.min.js"></script>
<script type="text/javascript" src="/lib/jQuery.mmenu/src/js/jquery.mmenu.min.all.js"></script>
<script type="text/javascript">
    $('#manga-chapter-list').mmenu({
       "header": {
          "title": "<%= manga.title.toUpperCase() %>",
          "add": true,
          "update": true
       },
       "searchfield": {
          "placeholder": "Find Chapter",
          "noResults": "No chapter found.",
          "add": true,
          "search": true
       },
       "offCanvas": {
           "position": "right",
           "zposition": "front"
       },
       "dragOpen": true,
       "classes": "mm-white"
    });
    
    $.get('/api/v1/manga/<%= manga._id %>/chapters/1', function(data){
        for(var i = 0; i < 4; i++)
        {
            $('#manga-preview').append(
                '<div class="col s12 m6 l3">' +
                    '<img class="responsive-img materialboxed" src="'+ data.pages[i].image +'"></img>' +
                '</div>'
            );
        }
        $('.materialboxed').materialbox();
    });
</script>