<style type="text/css">
    #slide-out {
        overflow-y: scroll;
        overflow-x: hidden;
    }
    
    #slide-out a {
        color: #d32f2f;
        letter-spacing: 5px;
        max-height: 100%;
        max-width: 100%;
        height: 100%;
        width: 100%;
    }
    
    #slide-out li {
        padding: 15px 0px;
    }
    
    #slide-out li:hover {
        background-color: #ffeded;    
    }
    
    #profile a {
        text-align: right;
    }
    
    .collapsible-body a {
        font-size: 10px;
        letter-spacing: 0px;
    }
</style>

<ul id="slide-out" class="side-nav">
    <div id="profile">
        <div>
            <img class="responsive-img circle" src="http://fc05.deviantart.net/fs71/f/2013/065/f/5/goku_chico_by_bardocksonic-d5x53re.png"></img>
            <hr color="#e8e8e8">
        </div>
    </div>
    
    <div class="center-align">
        <a href="/"><li>HOME</li></a>
        <a href="/browse"><li>BROWSE</li></a>
        <a href="/library"><li>LIBRARY</li></a>
        <a href="/random"><li>RANDOM</li></a>
        <a href="/news"><li>NEWS</li></a>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordian">
                <li>
                    <a href="#!" class="collapsible-header" style="margin-left: 0%">BOOKMARK</a>
                    <div class="collapsible-body">
                        <ul>
                            <a href="#"><li>SHINGEKI NO KYOJIN - 56</li></a>
                            <a href="#"><li>HUNTER X HUNTER - 132</li></a>
                            <a href="#"><li>KUROKO NO BASKET - 12</li></a>
                            <a href="#"><li>MAGI - 320</li></a>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <a href="/reviews"><li>REVIEWS</li></a>
        <a href="/blog"><li>BLOG</li></a>
        <a href="/shop"><li>SHOP</li></a>
    </div>
    
</ul>