<nav class="navbar navbar-inverse navbar-fixed-top">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mangaNavigation">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="/">Debonair Manga</a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div id="mangaNavigation" class="collapse navbar-collapse pull-right">
		<ul class="nav navbar-nav">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Quick Links<b class="caret"></b></a>
				<ul class="dropdown-menu flipInV" role="menu">
					<li role="presentation" class="dropdown-header">Debonair Favorites</li>
					<li><a href="/manga/Naruto">Naruto</a></li>
					<li><a href="/manga/One-Piece">One Piece</a></li>
					<li><a href="/manga/Bleach">Bleach</a></li>
					<li role="presentation" class="dropdown-header">Debonair Genres</li>
					<li><a href="/genres/shounen">Shounen</a></li>
					<li><a href="/genres/shoujo">Shoujo</a></li>
					<li><a href="/genres/slice-of-life">Slice of Life</a></li>
					<li><a href="/genres/adventure">Adventure</a></li>
					<li><a href="/genres/seinen">Seinen</a></li>
					<li><a href="/genres/romance">Romance</a></li>
					<li><a href="/genres/ecchi">Ecchi</a></li>
					<li><a href="/genres/mature">Mature</a></li>
					<li><a href="/genres/harem">Harem</a></li>
				</ul>
			</li>
			<li><a href="/manga">Manga</a></li>
			<li><a href="/news">News</a></li>
			<li><a href="/reviews">Reviews</a></li>
		</ul>
	</div><!-- /.navbar-collapse -->
</nav>