@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);

.reading-list-title {
	color: #8E2C76;
	font-family: 'Roboto', helvetica;
	font-weight: 100;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 34px;
}

hr {
	border: none;
	height: 1px;
	background-color: #8E2C76;
}

.book-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 auto;
}

.reading-list-book {
	padding-right: 40px;
	cursor: pointer;
}

.seperator {
	padding-bottom: 15px;
}