<header class="navbar navbar-fixed-top bg-white">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="#" class="navbar-brand"><span class="text-danger">Debonair</span> Manga</a>
				</div>
				<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="#landing-content" class="top-link">Home</a>
						</li>
						<li>
							<a href="#feature" class="top-link">Features</a>
						</li>
						<li>
							<a href="#portfolio" class="top-link">Screenshots</a>
						</li>
						<li>
							<a href="#contact" class="top-link">Contact us</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>