@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);

.book-overlay .no-display {
	display: none;
}

.book-overlay-wrapper {
	display: table;
	font-family: 'Roboto', helvetica;
	background-color: #FFF;
}

.book-overlay-wrapper > div {
	display: table-cell;
	vertical-align: top;
}

.book-overlay-close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 25px 50px;
	background-color: #FFF;
}

.book-overlay-close > span {
	font-size: 50px;
	font-weight: 100;
	cursor: pointer;
}

.book-overlay-image {
	height: 100vh;
}

.book-overlay-image > img {
	height: 100%;
}

.book-overlay-details {
	height: 80vh;
	overflow-y: scroll;
	padding: 50px 100px;
}

.book-overlay-title {
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 33px;
	font-weight: 100;
	padding-bottom: 25px;
}

.book-overlay-genres {
	padding-bottom: 25px;
}

.book-overlay-genres > span {
	padding-right: 10px;
	text-transform: uppercase;
	font-style: italic;
	font-weight: 300;
}

.book-overlay-summary-icons {
	max-width: 800px;
	margin: 0 auto;
}

.book-overlay-summary-icons > div {
	display: inline-block;
	word-wrap: break-word;
	line-height: 25px;
	padding: 15px;
}

.book-overlay-summary {
	padding: 25px 0;
	line-height: 1.7em;
	font-size: 32px;
	font-weight: 300;
}

.book-overlay-button-wrapper {
	margin: 50px 25px 25px 0;
}

.book-overlay-button {
	font-family: 'Roboto';
	border-radius: 50px;
	text-align: center;
	font-size: 24px;
	color: #8E2C76;
	outline: none;
	cursor: pointer;
	padding: 15px 35px;
	background-color: #fff;
	text-transform: uppercase;
	border: solid #3F0532 thin;
	letter-spacing: 5px;
	font-weight: 300;
}

.book-overlay-chapter-preview-title {
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 33px;
	font-weight: 100;
}

.book-overlay-back-icon {
	font-size: 33px;
	font-weight: 100;
	padding-right: 20px;
	cursor: pointer;	
}

.book-overlay-chapter-preview-image-wrapper {
	margin: 15% 0;
}

.book-overlay-chapter-preview-image {
	width: 20%;
	max-width: 200px;
	padding-right: 15px;
}

@media only screen and (max-width: 1600px) {
	.book-overlay-summary {
		line-height: 1.3em;
		font-size: 24px;
	}

	.book-overlay-button {
		font-size: 16px;
	}
}

@media only screen and (max-width: 1300px) {
	.book-overlay-button-wrapper {
		margin: 50px 0 25px 0;
	}

	.book-overlay-button {
		margin-right: 0px;
	}
}

@media only screen and (max-width: 1000px) {
	.book-overlay-wrapper {
		display: block;
	}

	.book-overlay-image > img {
		height: 100vh;
		width: 100vw;
	}

	.book-overlay-wrapper > div {
		display: block;
	}

	.book-overlay-content {
		max-width: 80vw;
	}

	.book-overlay-details {
		height: auto;
		overflow: hidden;
		text-align: center;
		padding: 40px;
	}

	.book-overlay-button {
		margin: 0 10px 25px 25px;
	}

	.book-overlay-chapter-preview-image {
		width: 200px;
		padding-right: 15px;
	}
}